:root {
  --primary: #262;
  --content: #242;
  --border: #afa;
  --background: #dfd;
}

[data-theme="dark"] {
  --primary: #dfd;
  --content: #afa;
  --border: #242;
  --background: #262;
}

body {
  background: var(--background);
  color: var(--content);
}

a {
  color: var(--primary);
}
