:root {
  --primary: #222;
  --content: #111;
  --border: #eee;
  --background: #fff;
}

[data-theme="dark"] {
  --primary: #ddd;
  --content: #eee;
  --border: #333;
  --background: #000;
}

body {
  background: var(--background);
  color: var(--content);
}

a {
  color: var(--primary);
}
